$spacing-none: 0px;
$spacing-xxs: 2px;
$spacing-xs: 4px;
$spacing-sm: 6px;
$spacing-md: 8px;
$spacing-lg: 12px;
$spacing-xl: 16px;
$spacing-2xl: 20px;
$spacing-3xl: 24px;
$spacing-4xl: 32px;
$spacing-5xl: 40px;
$spacing-6xl: 48px;
$spacing-7xl: 64px;
$spacing-8xl: 80px;
$spacing-9xl: 96px;
$spacing-10xl: 128px;
$spacing-11xl: 160px;

.mb-xxs--paybee-ds2 {
    margin-bottom: $spacing-xxs;
}

.mb-xs--paybee-ds2 {
    margin-bottom: $spacing-xs;
}

.mb-sm--paybee-ds2 {
    margin-bottom: $spacing-sm;
}

.mb-md--paybee-ds2 {
    margin-bottom: $spacing-md;
}

.mb-lg--paybee-ds2 {
    margin-bottom: $spacing-lg;
}

.mb-xl--paybee-ds2 {
    margin-bottom: $spacing-xl;
}

.mb-2xl--paybee-ds2 {
    margin-bottom: $spacing-2xl;
}

.mb-3xl--paybee-ds2 {
    margin-bottom: $spacing-3xl;
}

.mb-4xl--paybee-ds2 {
    margin-bottom: $spacing-4xl;
}

.mb-5xl--paybee-ds2 {
    margin-bottom: $spacing-5xl;
}

.mb-6xl--paybee-ds2 {
    margin-bottom: $spacing-6xl;
}

.mb-7xl--paybee-ds2 {
    margin-bottom: $spacing-7xl;
}

.mb-8xl--paybee-ds2 {
    margin-bottom: $spacing-8xl;
}

.mb-9xl--paybee-ds2 {
    margin-bottom: $spacing-9xl;
}

.mb-10xl--paybee-ds2 {
    margin-bottom: $spacing-10xl;
}

.mb-11xl--paybee-ds2 {
    margin-bottom: $spacing-11xl;
}