<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zaitsev Vsevolod</title>
</head>

<body>
  <div class="wrapper">
    <button type="button" class="btn btn-primary btn-paybee btn--sm btn--purple" normal>O<span>Button CTA</span>O</button>
  </div>
  <!--
  btn-(primary, outline-primary, outline-primary--gray, link, link--gray)
  
  size: btn--sm, btn--md, btn--lg, btn--xl, btn--2xl

  color: btn--purple, btn--red

  state: Normal, disabled

  -->
</body>

</html>