<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email *</label>
  <input type="email" class="form-control form-control--paybee form-control--orange" id="exampleFormControlInput1"
    placeholder="olivia@untitledui.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control form-control--paybee form-control--orange" id="exampleFormControlTextarea1"
    rows="3"></textarea>
</div>