<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Zaitsev Vsevolod</title>
</head>

<body>
  <div class="wrapper">
    <button type="button" class="btn btn-primary --sm --purple ">O<span>Button CTA</span>O</button>
  </div>
  <!--
  btn-(primary, secondary, secondary-gray, link, link-gray)
  
  size: --sm, --md, --lg, --xl, --2xl

  color: --purple, --red

  state: Normal(nothing write), --disabled

  -->
</body>

</html>