// .badge {
//     position: absolute;
//     top: 30%;
//     left: 30%;
//     box-sizing: border-box;
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: center;

//     font-family: 'Inter';
//     font-style: normal;
//     font-weight: 500;

//     text-align: center;

//     flex: none;
//     order: 0;
//     flex-grow: 0;
// }



.badge--brand {
    border: 1px solid #E9D7FE;
    background: #E9E5EF;
    color: #6941C6;
}

.badge--gray {
    border: 1px solid #E4E7EC;
    background: #F9FAFB;
    color: #344054;
}

.badge--red {
    border: 1px solid #FECDCA;
    background: #FEF3F2;
    color: #B42318;
}

.badge--yellow {
    border: 1px solid #FEDF89;
    background: #FFFAEB;
    color: #B54708;
}

.badge--green {
    border: 1px solid #ABEFC6;
    background: #ECFDF3;
    color: #067647;
}

.badge--blue-gray {
    border: 1px solid #D5D9EB;
    background: #F8F9FC;
    color: #363F72;
}

.badge--blue {
    border: 1px solid #B9E6FE;
    background: #F0F9FF;
    color: #026AA2;
}

.badge--dark-blue {
    border: 1px solid #B2DDFF;
    background: #EFF8FF;
    color: #175CD3;
}

.badge--indigo {
    border: 1px solid #C7D7FE;
    background: #EEF4FF;
    color: #3538CD;
}

.badge--purple {
    border: 1px solid #D9D6FE;
    background: #F4F3FF;
    color: #5925DC;
}

.badge--pink {
    border: 1px solid #FCCEEE;
    background: #FDF2FA;
    color: #C11574;
}

.badge--orange {
    border: 1px solid #F9DBAF;
    background: #FEF6EE;
    color: #B93815;
}

.badge--outline-gray {
    border: 1.5px solid #475467;
    background: #FFFFFF;
    color: #344054;
}

.badge--outline-brand {
    border: 1.5px solid #7F56D9;
    background: #FFFFFF;
    color: #6941C6;
}

.badge--outline-red {
    border: 1.5px solid #D92D20;
    background: #FFFFFF;
    color: #B42318;
}

.badge--outline-yellow {
    border: 1.5px solid #DC6803;
    background: #FFFFFF;
    color: #B54708;
}

.badge--outline-green {
    border: 1.5px solid #079455;
    background: #FFFFFF;
    color: #067647;
}

.badge--outline-blue-gray {
    border: 1.5px solid #3E4784;
    background: #FFFFFF;
    color: #363F72;
}

.badge--outline-blue-light {
    border: 1.5px solid #0086C9;
    background: #FFFFFF;
    color: #026AA2;
}

.badge--outline-blue {
    border: 1.5px solid #1570EF;
    background: #FFFFFF;
    color: #175CD3;
}

.badge--outline-indigo {
    border: 1.5px solid #444CE7;
    background: #FFFFFF;
    color: #3538CD;
}

.badge--outline-purple {
    border: 1.5px solid #6938EF;
    background: #FFFFFF;
    color: #5925DC;
}

.badge--outline-purple {
    border: 1.5px solid #DD2590;
    background: #FFFFFF;
    color: #C11574;
}

.badge--outline-orange {
    border: 1.5px solid #E04F16;
    background: #FFFFFF;
    color: #B93815;
}

.badge--badge {
    border-radius: 6px;
}

.badge--sm {
    font-size: 12px;
    width: 44px;
    height: 22px;
    padding: 2px 6px;
}

.badge--md {
    font-size: 14px;
    width: 53px;
    height: 24px;
    padding: 2px 8px;
}

.badge--lg {
    font-size: 14px;
    width: 57px;
    height: 28px;
    padding: 4px 10px;
}